body
{
	background-color: rgb(173, 216, 230);
}

	.login_div1 , .login_div2
	{
		background-color: rgb(173, 216, 230);
		padding: 10px;
		float: none;
		border-radius: 35px;
	}

#player1_name_input, #player2_name_input{
background-color: rgb(255, 255, 255);
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(90, 182, 252);
border-radius: 35px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
